/* Estilos generales */
body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-size: 20px; 
}

/* Contenedor principal */
.checkout-container {
  width: var(--main-page-width); 
  margin: 0;
  padding: 5% 10%;
  background-color: #fff;
  border-radius: 16px; /* Borde más redondeado */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentada la sombra */
}

/* Título principal */
.checkout-title {
  font-size: 36px; /* Aumentado el tamaño de la fuente */
  font-weight: bold;
  color: #333;
  margin-bottom: 30px; /* Aumentado el margen inferior */
  text-align: center;
}

/* Lista de productos */
.products-list {
  max-height: var(--payment-product-list-heigth); /* Aumentada la altura máxima */
  overflow-y: auto;
  margin-bottom: 30px; /* Aumentado el margen inferior */
}

.product-item {
  display: flex;
  align-items: center;
  padding: 20px 0px; /* Aumentado el padding */
  border-bottom: 1px solid #e0e0e0;
}

.product-item:last-child {
  border-bottom: none;
}

.product-img {
  width: 120px; /* Aumentado el tamaño de la imagen */
  height: 120px; 
  object-fit: cover;
  border-radius: 16px; /* Borde más redondeado */
  margin-right: 25px; /* Aumentado el margen derecho */
}

.product-details {
  width: 50%;
}

.product-name {
  font-size: 24px; /* Aumentado el tamaño de la fuente */
  font-weight: bold;
  color: #333;
  margin: 0;
}

.product-description {
  font-size: 18px; /* Aumentado el tamaño de la fuente */
  color: #666;
}

.product-quantity {
  font-size: 20px; /* Aumentado el tamaño de la fuente */
  font-weight: bold;
  color: rgb(68, 67, 67);
  background-color: var(--secondary-color);
  padding: 10px 20px; /* Aumentado el padding */
  border-radius: 16px; /* Borde más redondeado */
  margin-right: 25px; /* Aumentado el margen derecho */
  border: 2px solid var(--secondary-color-dark);
}

.product-price {
  font-size: 24px; /* Aumentado el tamaño de la fuente */
  font-weight: bold;
  color: #333;
}

/* Desglose del total */
.total-breakdown {
  margin-bottom: 30px; /* Aumentado el margen inferior */
}

.total-line {
  display: flex;
  justify-content: space-between;
  padding: 20px 0; /* Aumentado el padding */
  border-bottom: 1px solid #e0e0e0;
}

.total-line-final {
  font-size: 28px; /* Aumentado el tamaño de la fuente */
  font-weight: bold;
  color: rgb(44, 44, 44);
}

.order-options{
  width: 100%;
  display: flex;
  flex-direction: var(--order-options-flex-direction);
  gap: var(--order-options-gap);
  align-items: center;
  justify-content: space-between;
}

/* Opciones de entrega y pago */
.delivery-options, .payment-options {
  margin-bottom: 30px; /* Aumentado el margen inferior */
}

.delivery-title, .payment-title {
  text-align: center;
  font-size: 24px; /* Aumentado el tamaño de la fuente */
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; /* Aumentado el margen inferior */
}

.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Aumentado el espacio entre opciones */
}

/* Estilos para los divs de opciones de entrega y pago */
.delivery-choice, .payment-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Aumentado el tamaño del div */
  height: 200px; /* Aumentado el tamaño del div */
  border-radius: 16px; /* Borde más redondeado */
  border: 2px solid #e0e0e0;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s, transform 0.3s;
  position: relative;
  text-align: center;
}

input[type="radio"] {
  display: none; /* Oculta los radio buttons */
}

/* Opcional: Añadir un efecto de escala para hacer el div más atractivo */
input[type="radio"]:checked + label {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del div cuando está seleccionado */
}

input[type="radio"]:checked + label svg {
  fill: var(--secondary-color-darker);
}

.custom-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Aumentado el espacio entre el icono y el texto */
  font-size: 20px; /* Aumentado el tamaño de la fuente */
  color: #333;
}

.custom-radio svg {
  width: 50px; /* Aumentado el tamaño del ícono */
  height: 50px;
  fill: #333;
  transition: fill 0.3s;
}

/* Botón de finalizar compra */
.checkout-btn-container {
  margin: auto;
  text-align: center;
}

.checkout-btn-container button{
  margin: 0 20px;
  border: var(--button-border);
}

.checkout-btn {
  background-color: var(--secondary-color);
  font-size: 24px; /* Aumentado el tamaño de la fuente */
  font-weight: bold;
  padding: 20px 40px; /* Aumentado el padding */
  border: none;
  border-radius: 16px; /* Borde más redondeado */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Responsiveness */
@media (max-width: 600px) {
  .checkout-container {
      padding: 30px; /* Ajustado el padding para pantallas pequeñas */
  }

  .product-item {
      flex-direction: column;
      align-items: flex-start;
  }

  .product-img {
      margin-bottom: 20px; /* Aumentado el margen inferior */
  }

  .product-quantity {
      margin-bottom: 20px; /* Aumentado el margen inferior */
  }

  .total-line {
      font-size: 20px; /* Aumentado el tamaño de la fuente */
  }

  .total-line-final {
      font-size: 24px; /* Aumentado el tamaño de la fuente */
  }

  .choice-container {
      flex-direction: column;
  }

  .delivery-choice, .payment-choice {
      width: 100%;
      height: auto;
  }

  .checkout-btn {
      width: 100%;
      padding: 20px; /* Ajustado el padding */
  }
}

/* Estilo para el scroll */
.products-list::-webkit-scrollbar {
  width: 12px; /* Aumentado el ancho del scrollbar */
}

.products-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista del scrollbar */
  border-radius: 10px; /* Borde redondeado */
}

.products-list::-webkit-scrollbar-thumb {
  background: #ccc; /* Color del scrollbar */
  border-radius: 10px; /* Borde redondeado del scrollbar */
  border: 3px solid #f1f1f1; /* Espacio alrededor del scrollbar */
}

.products-list::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3; /* Color del scrollbar al pasar el mouse */
}

/* Estilo para Firefox */
.products-list {
  scrollbar-width: thin; /* Scrollbar fino */
  scrollbar-color: #ccc #f1f1f1; /* Color del scrollbar y de la pista */
}
