.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .modal-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    background: white;
    padding: 44px;
    border-radius: 8px;
    z-index: 3;
    min-width: var(--min-confirm-modal-width);
    min-height: var(--min-confirm-modal-height);
    max-width: var(--max-confirm-modal-width);
    max-height: var(--max-confirm-modal-height);
    width: var(--confirm-modal-width);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header h1{
    font-size: 2.7rem;
    font-weight: 500;
    width: 90%;
    margin:0;
  }

  .modal-image{
    width: 70%;
    padding: 0 15%;
    height: 70%;
  }

  .modal-image img{
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: contain;
  }

  .modal-product-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-product-data h1{
    font-size: 2.5rem;
    color: #333;
    margin: 0;
    font-weight: 500;
  }

  .modal-product-data h2{
    font-size: 2rem;
    margin: 0;
  }

  .modal-product-data h3{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
  }
  
  .modal-content {
    margin-top: 16px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    gap: 5%;
  }
  
/* ESTILOS PARA LAS PREGUNTAS */
.modal-header-questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.modal-header-questions h1{
  font-size: 2.7rem;
  font-weight: 500;
  margin:0;
  width: 90%;
}

.modal-content-questions {
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  height: 900px;
}

.modal-content-questions h2 {
  margin-top: 0;
  font-size: 40px;
  text-align: center;
}

.options-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 15px; /* Espacio entre los elementos */
  height: 100%;
  max-height: 700px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto; /* Permite el scroll vertical si es necesario */
  overflow-x: hidden; /* Oculta el scroll horizontal si no se necesita */
  padding: 20px 10px;
}

.customization-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customization-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.disabled-option{
  opacity: 0.5;
  pointer-events: none;
  background-color: #f5f5f5;
}

.option-img-container{
  height: 100%;
}

.customization-option img.option-img {
  height: 200px !important;
  width: 200px !important;
  object-fit: cover;
}

.customization-option input[type="radio"] {
  appearance: none;
  border: 4px solid var(--secondary-color-dark);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.customization-option input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  background-color: var(--secondary-color-dark);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.customization-option input[type="checkbox"] {
  appearance: none;
  border: 4px solid var(--secondary-color-dark);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  outline: none;
  background-color: #fff;
}

.customization-option input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  background-color: var(--secondary-color-dark);
  transform: translate(-50%, -50%);
}

.customization-option label {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #555;
  cursor: pointer;
}

.price-container{
  min-height: 10%;
}

.price{
  font-size: 20px;
  color: #333;
  margin: 0;
}




/* ESTILOS PARA PRODUCTO CON CUSTOMIZACIÓN */

  .product-with-customizations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    
  }

  .total-price{
    font-size: 30px;
    font-weight: 500;
    color: #535151;
    margin: 0;
  }

  .description{
    font-size: 12px;
    margin: 0;

  }

  .product-with-customizations h4{
   margin-top:0;   
   font-size: 30px;
  }

  .product-with-customizations .product-data{
    width: 50%;
  }

  .product-data h1{
    font-size: 2.5rem;
    color: #333;
    margin: 0;
  }


  .product-with-customizations .customizations{
    width: 40%;
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-with-customizations .customizations .customization{
    margin-bottom: 20px;
  }

  .product-with-customizations .customizations .customization-name{
    font-size: 20px;
    color: rgb(58, 57, 57);
    margin: 0;
  }

  .product-with-customizations .customizations .customization-value{
    font-size: 20px;
    color: rgb(58, 57, 57);
    margin: 0;
  }

  .product-with-customizations .customizations img{
    width: 40px;
    height: 40px;
  }

  .product-with-customizations .customizations .customization hr{
    width: 100%;
    opacity: 0.5;
    border: none;
    height: 1px;
    background-color: var(--secondary-color-dark);
  }

  .response-info{
    width: 80%;
  }


  /* Input de cantidad */

  .modal-quantity {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 100%;
  }
  
  .quantity-button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .quantity-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .quantity-button:hover:not(:disabled) {
    background-color: #e0e0e0;
  }
  
  input[name="quantity"] {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    height: 60px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
  }
  
  .modal-quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .modal-quantity input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .modal-actions {
    margin-top: 20px;
    text-align: center;
  }

  /* ------ */
  .next-question{
    width: 50%;
  }
  
  .alert-message{
    margin-left: 8px;
    color: rgb(255, 119, 119);
    font-size: 20px;
    min-width: 30px;
    transition: opacity 0.3s ease-in-out; 
  }

  .alert-message {
    opacity: 1;
  }

  .alert-message.hidden {
      opacity: 0; /* Oculta el mensaje suavemente */
  }


  .cancel-button, .confirm-button {
    margin-left: 8px;
    padding: 20px 38px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 400;
  }
  
  .cancel-button {
    background: #f5f5f5;
    width: 30%;
  }
  
  .confirm-button {
    background: var(--secondary-color);
    width: 100%;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .disabled-button{
    background-color: var(--secondary-color-light);
    color: #949494;
    cursor: not-allowed;
  }
  
  /* Clases de animación */
  .modal-overlay.show {
    opacity: 1;
  }
  
  .modal-container.show {
    opacity: 1;
    transform: translate(-50%, var(--modal-transform-position-y)) scale(1);
  }