.modal-content{
    padding:20px;
    background-color: white;
}

.close-button{
  padding: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Fondo negro con opacidad del 50% */
}


.modal-header {
    padding: 20px 40px 20px 20px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  
  .edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .edit-button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
  }
  
  .divider{
    border: none; /* Elimina el borde por defecto */
    height: 1px; /* Establece el grosor del <hr> */
    background-color: #3a3a3a1a; /* Aplica el color de fondo */
  }
  
  .form-group {
    padding:0px;
    border: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
  }

  header{
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  label{
    font-size: 1rem;
    width: 100%;
  }

  .input-mandatory{
    color: red;
    font-size: 0.8rem;
  }

  .text-info{
    font-size: 0.8rem;
    color: #666666;
  }
  
  .inputs-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 14px;
  }

.input-container{
  width: 100%;
}

  .form-control {
    width: 100%;
    padding: 6px 18px;
    box-sizing: border-box;
    border-radius: 10px; /* Borde redondeado */
    border: 1px solid #ccc; /* Borde claro inicialmente */
    font-family: var(--font-family); /* Uso de la variable de fuente */
    font-size: 1rem; /* Tamaño de la letra (puedes ajustarlo) */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.form-control.select{
  padding: 6px 12px;
}

.option-disabled {
  color: #666666; /* Color de texto de la opción deshabilitada */
}

.form-control:focus {
    border-color: #5c5c5c; /* Color del borde más oscuro al hacer focus */
    outline: none; /* Quitar el borde predeterminado azul de los navegadores */
    box-shadow: 0 0 2px rgba(22, 41, 61, 0.5); /* Añadir un pequeño efecto de sombra */
}

  .error {
    color: red;
    font-size: 0.8rem;
  }
  
  .dialog-actions {
    margin-top: 20px;
    text-align: right;
  }
  
  button {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
  }
  

  .status-text {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    min-width: 155px;
    padding: 6px 12px;
}
  
.status-text svg {
    margin-right: 5px;/* Espacio entre el texto y el icono */
    vertical-align: middle;
}
  
  
.status-icon {
    font-size: 1em;  /* Tamaño del ícono */
}

/* Si estás usando Bootstrap Icons */
.bi-check-circle {
    color: #28a745;  /* Color del ícono si está disponible */
}

.bi-x-circle {
    color: #e56f7a;  /* Color del ícono si no está disponible */
}