:host {
    height: 100%;
    width: 100%;
    
}

.advert-container {
    margin-top :auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color:white;
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: 1;
    border: 1px solid #ddd;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .fade-out {
    transform: translateY(-100%);
    /* opacity: 0;
    visibility: hidden; */
  }

  .center{
    margin-top: 60%;
  }
  
  img {
    width: auto;
    height: 100%;
  }


