body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.cart-container {
  position: fixed;
  bottom: -100%; /* Posición inicial fuera de la pantalla */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 90vh; /* Ajusta la altura para que ocupe el 90% de la pantalla */
  background-color: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto; /* Permite scroll dentro del modal */
}

.cart-container.open {
  bottom: 0; /* Mueve el modal hacia arriba cuando se activa */
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.title-cart-header {
  font-size: 24px;
}

.continue-shopping {
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-items {
  max-height: 65%; /* Ajusta según la altura del modal */
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}

.item-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.item-count {
  padding: 2px;
  position: relative;
  background-color: #ffcc00;
  color: #333;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.less-item,
.more-item {
  background-color: #ffcc00;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-info {
  padding-inline: 10%;
  display: flex;
  align-items: center;
  flex: 1;
}

.item-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.item-details h2 {
  font-size: 20px;
  margin: 0;
}

.item-details p {
  margin: 5px 0 0 0;
}

.item-price {
  padding-inline: 10%;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.total-price {
  padding-right:40px ;
  font-size: 20px;
  font-weight: bold;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #e6b800;
}
