:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100vh;
}

/* .main-page{
    height: 100%;
    width: var(--main-page-with);
    margin: 0px auto;
} */

.main-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--main-page-width);
    margin: 0 auto;
}

/* .product-selection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
} */

.product-selection {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}

.side-bar{
    width: var(--side-bar-width);
    min-width: 350px;
}

.family-page{
    width: 100%;
    padding: 0px 5%;
    height: 100%;
}

/* footer{
    width: 100%;
} */

footer {
    width: 100%;
    margin-top: auto;
}

.app-cart{
    display: flex;
    justify-content: center;
}