.main-page{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.product-selection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.side-bar{
    width: var(--side-bar-width);
    min-width: 350px;
}

.family-page{
    width: 100%;
    padding: 0px 5%;
}

footer{
    width: 100%;
}