/* SPINNER */

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.3); /* Borde blanco con transparencia por defecto */
  border-top: 2px solid white; /* Borde superior por defecto */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
