/* src/app/pages/family-list/family-list.component.css */
a.family-button {
    width: 100%;
    text-decoration: none;
    color: black;
    margin: 0;
    display: flex; /* Asegura que el elemento ocupe el ancho completo del contenedor */
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid #ccc; 
    border-bottom: 2px solid #ccc; 
    border-top: 2px solid #ccc; 
    border-top-right-radius: 8px; /* Borde redondeado en la esquina superior derecha */
    border-bottom-right-radius: 8px; /* Borde redondeado en la esquina inferior derecha */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el borde y el padding en el ancho total */
    transition: transform 0.3s ease-in-out; /* Transición suave para cambios de transform */
    font-weight: 200;
}

a.family-button:hover {
    transform: scale(1.1); /* Escala al pasar el ratón */
}


a.family-button h2, 
a.family-button img {
    margin: 0; /* Asegura que no haya margen en los elementos internos */
}

.family-name{
    min-width: 192px;
}

hr{
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
}



a.family-button img{
    width: 30%;
}

a.selected{
    border : 2px solid #ccc;
    border-left: none;
    transform: scale(1.05);
}