:host {
    display: block;
    width: 100%;
    /* max-width: 500px; */
}

.graph {
    max-width: 600px;
    margin: 0 auto;
    /* width: 100%; */
}

canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 250px;
}