<article class="product" (click)="openConfirmModal(product);">
    <main class="product-info">
        <img src="{{product.img ? product.img : noPhotoUrl}}" [alt]="product.name">
        <div class="overflow-hidden">
            <h1 class="product-name text-center">{{ product.name }}</h1>
        </div>
        <!-- <p>{{ product.description }}</p> -->
        <footer>
            <p>{{ product.price }} €</p>
            <hr>
        </footer>
    </main>
</article>

@if(isMenu){
    <app-confirm-modal #confirmModal (confirmAction)="onConfirm($event)" (cancelAction)="onCancel()"></app-confirm-modal>
} @else {
    <app-confirm-modal #confirmModal (confirmAction)="onConfirm($event)" (cancelAction)="onCancel()"></app-confirm-modal>
}

