/* You can add global styles to this file, and also import other style files */


:root{
    /* Fonts */
    --font-family: "Poppins", sans-serif;
    --mat-table-row-item-label-text-font: "Poppins", sans-serif;
    --mat-table-header-headline-font: "Poppins", sans-serif;

    /* Main page */
    --main-page-width: 100%;
    --main-page-height: 100vh;
    --main-page-margin-top: 0px;
    
    /* Product */
    --product-name-font-weight: 400;

    /* Family */
    --family-name-font-weight: 400;

    /* Family page */
    --family-page-height: 65vh;
    --family-list-max-heigth: 60vh;

    /* Side bar */
    --side-bar-width: 40%;


    /* Colors */
    --secondary-color-light: rgb(242, 242, 253);
    --secondary-color: rgb(235, 235, 254);
    --secondary-color-dark: rgb(208, 208, 252);
    --secondary-color-darker: rgb(167, 167, 255);
    --secondary-color-transparent: rgba(235, 235, 254, 0.5);

    --cancel-button-color:#f5f5f5;

    /* Define el color base aquí */
    /* --secondary-color-base: 235, 235, 254; 

    --secondary-color-light: rgb(calc(var(--secondary-color-base) + 7));
    --secondary-color: rgb(var(--secondary-color-base));
    --secondary-color-dark: rgb(calc(var(--secondary-color-base) - 27));
    --secondary-color-transparent: rgba(var(--secondary-color-base), 0.5); */


    /* Border */
    --button-border: 2px solid color-mix(in lab, var(--secondary-color-dark), white 20%);

    /* Modal */
    --modal-transform-position-y: -50%;
    --confirm-modal-width: 800px;
    --max-confirm-modal-width: 1000px;
    --max-confirm-modal-height: 1200px;
    --min-confirm-modal-width: 500px;
    --min-confirm-modal-height: 1200px;

    /* Order summary*/
    --order-summary-max-height: 95vh;
    --product-list-max-height: 60%;

    /* Product list */
    --payment-product-list-heigth : 35%;
    --order-options-flex-direction: column;
    --order-options-gap: 0px;


    /* MANAGER STYLES */
    --manager-side-bar-background-color:rgb(26, 26, 26);
    --manager-ligth-text: rgb(61, 61, 61);
    --manager-background-color: #f2f3f8;
    --manager-side-bar-width: 15%;
    --mat-table-header-container-height: 44px;
    --mat-table-row-item-container-height: 42px;
    --mat-form-field-container-text-font: "Poppins", sans-serif;
    --mat-select-trigger-text-font: "Poppins", sans-serif;
    --mat-option-label-text-font: "Poppins", sans-serif;
    --mat-menu-item-label-text-font: "Poppins", sans-serif;

    --mdc-dialog-container-shape: 20px;

    --mdc-snackbar-container-color: white;
    --mdc-snackbar-container-shape: 10px;
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: rgb(211, 9, 9);
    --mdc-snackbar-supporting-text-size: 1rem;
    --mdc-text-button-label-text-size: 1rem;
    --mdc-snackbar-supporting-text-font: "Poppins", sans-serif;
    --mdc-snackbar-supporting-text-weight : 400;
    --mdc-snackbar-supporting-text-line-height : 1.5rem;
    --mdc-text-button-label-text-font: "Poppins", sans-serif;
    /* --mdc-snackbar-container-color : white; */
  }

@media screen and (min-width: 1300px) {
  /* :root{
    --main-page-width: 1080px;
    --main-page-height: 1920px;
    
  }

  body{
    margin: auto !important;
    width: 1080px !important;
    height: 1920px !important;
    overflow: scroll !important;
  } */
}

body{
  margin: 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  /* max-height: 100vh; */
  /* min-height: 100vh; */
  height: var(--main-page-height);
  margin: 0px;
  margin-top: var(--main-page-margin-top);
  width: 100vw;
  overflow: hidden;
}

button {
    font-family: "Poppins", sans-serif;
}

.text-center{
    text-align: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-baseline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*SCROLLBAR*/

/* Personalización de la barra de desplazamiento para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Fondo de la pista de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(111, 104, 104, 0.4); /* Color de la barra de desplazamiento */
    border-radius: 20px; /* Redondeo de la barra de desplazamiento */
    border: 2px solid transparent; /* Espaciado para hacer la barra más delgada */
    background-clip: content-box; /* Clipping para el borde */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Color más oscuro al pasar el cursor */
  }
  
  /* Ocultar las flechas de la barra de desplazamiento */
  ::-webkit-scrollbar-button {
    display: none;
  }


.green-btn {
  background-color: #48a032;
  border: none;
  color: white; /* Texto y svg en blanco */
  padding: 12px 20px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.green-btn svg {
    fill: white;
}

.green-btn:hover {
    background-color: #317520; /* Un verde pistacho aún más claro al hacer hover */
}

.alert-span{
  background-color: #ffecec;
  color: red;
  font-size: 0.8rem;    
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.mdc-snackbar__surface{
  padding: 8px 12px;
}

.success-snackbar{
  --mdc-snackbar-container-color: #317520;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}

.error-snackbar{
  --mdc-snackbar-container-color: #d21928;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}

.dates-inputs-container{
  display: flex;
  justify-content: center;
  margin: 0;
  width: auto;
  align-items: center;
}

.date-input {
  font-family: var(--font-family);
  width: 130px; /* Anchura ajustada */
  padding: 6px 8px; /* Padding (menos que el input de búsqueda) */
  border: 1px solid #cccccc; /* Borde claro */
  border-radius: 4px; /* Borde redondeado */
  font-size: 0.8rem; /* Tamaño de fuente */
  color: #666666; /* Color del texto (más gris) */
  outline: none; /* Eliminar borde azul al hacer clic */
  transition: border 0.3s ease; /* Transición suave para el borde */
}

/* Cambiar el color del borde cuando se hace clic */
.date-input:focus {
  border: 1px solid #aaaaaa; /* Borde más claro al hacer clic */
}

/* Placeholder (no se aplica a los inputs tipo date, pero se puede incluir) */
.date-input::placeholder {
  color: #bbbbbb; /* Color del placeholder */
}