/* You can add global styles to this file, and also import other style files */
:root{
    --side-bar-width: 30%;
    --secondary-color: rgb(144, 144, 240);
}

body{
    font-family: "Poppins", sans-serif;
    height: 1920px;
    width: 100vw;
    margin: 0px;
}

.text-center{
    text-align: center;
}