/* You can add global styles to this file, and also import other style files */
:root{
    /* Main page */
    --main-page-with: 100%;
    
    /* Product */
    --product-name-font-weight: 400;

    /* Family */
    --family-name-font-weight: 400;

    /* Family page */
    --family-page-height: 1280px;


    /* Side bar */
    --side-bar-width: 40%;


    /* Colors */
    --secondary-color-light: rgb(242, 242, 253);
    --secondary-color: rgb(235, 235, 254);
    --secondary-color-dark: rgb(208, 208, 252);
    --secondary-color-darker: rgb(167, 167, 255);
    --secondary-color-transparent: rgba(235, 235, 254, 0.5);

    --cancel-button-color:#f5f5f5;

    /* Define el color base aquí */
    /* --secondary-color-base: 235, 235, 254; 

    --secondary-color-light: rgb(calc(var(--secondary-color-base) + 7));
    --secondary-color: rgb(var(--secondary-color-base));
    --secondary-color-dark: rgb(calc(var(--secondary-color-base) - 27));
    --secondary-color-transparent: rgba(var(--secondary-color-base), 0.5); */


    /* Border */
    --button-border: 2px solid color-mix(in lab, var(--secondary-color-dark), white 20%);

    /* Modal */
    --confirm-modal-width: 800px;
    --max-confirm-modal-width: 1000px;
    --max-confirm-modal-height: 1200px;
    --min-confirm-modal-width: 500px;
    --min-confirm-modal-height: 1200px;
}

body{
    font-family: "Poppins", sans-serif;
    /* height: 1920px; */
    min-height: 100vh;
    width: 100vw;
    margin: 0px;
}

button {
    font-family: "Poppins", sans-serif;
}

.text-center{
    text-align: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-baseline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*SCROLLBAR*/

/* Personalización de la barra de desplazamiento para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Fondo de la pista de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(111, 104, 104, 0.4); /* Color de la barra de desplazamiento */
    border-radius: 20px; /* Redondeo de la barra de desplazamiento */
    border: 2px solid transparent; /* Espaciado para hacer la barra más delgada */
    background-clip: content-box; /* Clipping para el borde */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Color más oscuro al pasar el cursor */
  }
  
  /* Ocultar las flechas de la barra de desplazamiento */
  ::-webkit-scrollbar-button {
    display: none;
  }
