<article class="product horizontal-card" (click)="selectProduct()">
    <main class="product-info">
      <div class="product-img-container">
        <img src="{{ product.img ? product.img : noPhotoUrl }}" [alt]="product.name" class="product-img">
      </div>
      <div class="product-details">
        <h1 class="product-name">{{ product.name }}</h1>
        <footer>
          <p class="product-price">+{{ product.prices[0] }} €</p>
          <hr>
        </footer>
      </div>
    </main>
  </article>
  