.suggestions-container {
  background-color: var(--secondary-color);
  margin: 10px;
  display: flex;
  justify-content: start; 
  align-items: center;
  width: 100vw;
  height: 20rem;
  overflow: hidden;
}

.suggestion-wrapper {
  max-width: 50vh;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-inline: 1.6rem;
  box-sizing: border-box;
}
.suggestions-list {
  overflow-y: scroll;
  display: flex;
  gap: 20px;
  width: calc(200px * 5); /* Ajusta según el número de items visibles */
}

.suggestion-item {
  height: 17rem;
  min-width: 200px;
  background-color: #ffff;
  margin: 1.6rem;
}

.suggestions-list::-webkit-scrollbar {
  display: none;
}

span {
  font-size: 1.4rem;
  margin-block: 1.6rem;
  margin-left: 1.6rem; 
}
