.suggestions-container {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: start; 
  align-items: center;
  overflow: hidden;
}

.suggestion-wrapper {
  max-width: 50vh;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-inline: 1.6rem;
  box-sizing: border-box;
}
.suggestions-list {
  overflow-y: scroll;
  display: flex;
}

.suggestion-item {
  min-width: 18rem;
  margin: 1.2rem;
}

.suggestions-list::-webkit-scrollbar {
  display: none;
}

span {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 15px;
  margin-left: 1.6rem; 
}
