:host{
    width: 100%;
    height: 100%;
}

.header{
    margin-bottom: 40px;
}

h1{
    margin: 0px;
    font-size: 1.7rem;
}

h2{
    margin: 0px;
    font-size: 1.5rem;
}

h3{
    margin: 0px;
    font-size: 1.3rem;
}

h4{
    margin: 0px;
    font-size: 1.1rem;
}

p{
    margin: 5px 0px;
    font-size: 0.7rem;
}

.ligth-text{
    color: #666666;
}

aside{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.config {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.config svg {
    color: #2d2d2d; /* Un tono más claro que el negro */
}

.config:hover {
    background-color: rgba(45, 45, 45, 0.1); /* Fondo con un poco de opacidad */
}


.overview{
    height: 70%;
}

.overview-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dates-inputs-container{
    display: flex;
    justify-content: center;
    margin: 0;
    width: auto;
    align-items: center;
}

.date-input {
    font-family: var(--font-family);
    width: 130px; /* Anchura ajustada */
    padding: 6px 8px; /* Padding (menos que el input de búsqueda) */
    border: 1px solid #cccccc; /* Borde claro */
    border-radius: 4px; /* Borde redondeado */
    font-size: 0.8rem; /* Tamaño de fuente */
    color: #666666; /* Color del texto (más gris) */
    outline: none; /* Eliminar borde azul al hacer clic */
    transition: border 0.3s ease; /* Transición suave para el borde */
  }
  
  /* Cambiar el color del borde cuando se hace clic */
  .date-input:focus {
    border: 1px solid #aaaaaa; /* Borde más claro al hacer clic */
  }
  
  /* Placeholder (no se aplica a los inputs tipo date, pero se puede incluir) */
  .date-input::placeholder {
    color: #bbbbbb; /* Color del placeholder */
  }

.overview-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    height: 50%;
    margin: 10px 0px;
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover{
    background-color: rgb(250, 250, 250);
    cursor: pointer;

    
}

.card-1:hover .watch-span,
.card-2:hover .watch-span,
.card-3:hover .watch-span,
.card-4:hover .watch-span {
    background-color: rgb(108, 183, 248);
}

.card-1, .card-2, .card-3, .card-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}


.card-1{
    background-image: url('../../../../../assets/productos.png');
    background-position: calc(100% - 10px) calc(100% - 10px);
    background-size: 25%; /* Muestra el 75% de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.card-2 {
    background-image: url('../../../../../assets/familias.png');
    background-position: calc(100% - 10px) calc(100% - 10px);
    background-size: 25%; /* Muestra el 75% de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    grid-column-start: 1;
    grid-row-start: 2;
}

.card-3 {
    background-image: url('../../../../../assets/devices.png');
    background-position: calc(100% - 10px) calc(100% - 10px);
    background-size: 25%; /* Muestra el 75% de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    grid-column-start: 2;
    grid-row-start: 1;
}

.card-4 {
    background-image: url('../../../../../assets/ventas.png');
    background-position: calc(100% - 10px) calc(100% - 10px);
    background-size: 25%; /* Muestra el 75% de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    grid-column-start: 2;
    grid-row-start: 2;
}

.card-5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
}

.watch-span{
    padding:5px 10px;
    background-color: rgb(152, 205, 252);
    border-radius: 10px;
    color:white;
    text-decoration: none;
}


.table-section{
    height: 62%;
}

/* Media query para zoom */
@media screen and (max-height: 900px) {
    .table-section {
        height: 56%;
    }
  }

  @media screen and (max-height: 800px) {
    .table-section {
        height: 50%;
    }
  }


.table-section-header{
    width: 100%;
    margin-bottom: 10px;
}