<form class="modal-content" [formGroup]="kioskForm">
    <div class="modal-header">
      <div class="image-container">
        <h2 >
            Añadir kiosco
        </h2>
      </div>
      <button (click)="close()" class="close-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
      </button>
    </div>


    <fieldset class="form-group">
      <header>
        <label for="nombre">Nombre y estado<span class="input-mandatory"> *</span></label>
      </header>
      <div class="inputs-container">
        <div class="input-container">
            <input id="nombre" type="text" formControlName="nombre" placeholder="Ej: PASE" class="form-control" 
            [ngClass]="{'invalid': kioskForm.controls['nombre'].invalid && kioskForm.controls['nombre'].touched}" />
            <div *ngIf="kioskForm.controls['nombre'].hasError('required') && kioskForm.controls['nombre'].touched" class="error">
              El nombre descriptivo es obligatorio
            </div>
          </div>
        <span (click)="changeStatus()" [ngClass]="getStatusClass(this.kioskForm.value.estado)" class="status-text">
          <!-- SVG Icono dinámico según el estado -->
          <ng-container *ngIf="this.kioskForm.value.estado === 'Habilitado'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill status-icon" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.904 10.803L4.3 8.2a.717.717 0 1 0-1.014 1.014l2.969 2.97a.717.717 0 0 0 1.014 0l6.18-6.18a.717.717 0 1 0-1.014-1.014L6.904 10.803z"/>
            </svg>
          </ng-container>
          <ng-container *ngIf="this.kioskForm.value.estado === 'Deshabilitado'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle-fill status-icon" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </ng-container>
          {{ this.kioskForm.value.estado }}
        </span>
        
      </div>
    </fieldset>

    <hr class="divider">
    <fieldset class="form-group">
      <header>
        <label for="printer">Impresoras<span class="input-mandatory"> *</span></label>
      </header>
      <div class="inputs-container" formArrayName="printers">
        <div class="input-container" *ngFor="let printerControl of printers.controls; let i = index" [formGroupName]="i">
          {{ i + 1 }}. Impresora:

          <!-- Select para cada impresora -->
          <select id="printer-{{i}}" formControlName="printer" class="form-control"
                  [ngClass]="{'invalid': printerControl.get('name')?.invalid && printerControl.get('name')?.touched}">
            <option *ngFor="let printer of availablePrinters" [value]="printer.id">
              {{ printer.nombre }}
            </option>
          </select>

          <!-- Mensaje de error para el select -->
          <div *ngIf="printerControl.get('name')?.hasError('required') && printerControl.get('name')?.touched" class="error">
            La impresora es obligatoria.
          </div>

          <button type="button" (click)="removePrinter(i)">Eliminar</button>
        </div>
      </div>
      <button type="button" (click)="addPrinter()">Agregar impresora</button>
    </fieldset>

    

      <hr class="divider">
    <fieldset class="form-group">
        <header>
          <label for="zona">Zona</label>
        </header>
        <div class="inputs-container">
          <div class="input-container">
              <input id="zona" type="text" formControlName="zona" placeholder="Ej: Barra" class="form-control" />
            </div>
        </div>
      </fieldset>

    <hr class="divider">
      <fieldset class="form-group">
        <header>
          <label for="descripcion">Descripción</label>
        </header>
        <div class="inputs-container">
          <div class="input-container">
            <textarea id="descripcion" formControlName="descripcion" placeholder="Ej: Impresora de cocina con los platos calientes." class="form-control"></textarea>
          </div>
        </div>
      </fieldset>
  
  <footer class="dialog-actions">
    <button class="delete-button" *ngIf="isEditMode" (click)="onDelete(data.familyId!)">Eliminar</button>
    @if(isEditMode){
      <div class="space-between rigth-buttons">
        <button (click)="close()" class="cancel-button">Cancelar</button>
        <button (click)="save()" class="save-button">
          Guardar
        </button>    
      </div>
    } @else {
      <button (click)="close()" class="cancel-button">Cancelar</button>
      <button (click)="save()" class="save-button">
        Guardar
      </button>
    }
  </footer>
</form>