h1{ 
    font-size: 5rem;
}

.products{
    /* grid */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap:16px;
    height: 1260px;
    overflow-y:scroll ;
    box-sizing: border-box;
    padding: 10px;
}


/* Personalización de la barra de desplazamiento para navegadores WebKit (Chrome, Safari) */
.products::-webkit-scrollbar {
    width: 30px; /* Ancho de la barra de desplazamiento */
  }
  
  .products::-webkit-scrollbar-track {
    background: transparent; /* Fondo de la pista de desplazamiento */
  }
  
  .products::-webkit-scrollbar-thumb {
    background-color: rgba(21, 20, 20, 0.4); /* Color de la barra de desplazamiento */
    border-radius: 20px; /* Redondeo de la barra de desplazamiento */
    border: 2px solid transparent; /* Espaciado para hacer la barra más delgada */
    background-clip: content-box; /* Clipping para el borde */
  }
  
  .products::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Color más oscuro al pasar el cursor */
  }
  
  /* Ocultar las flechas de la barra de desplazamiento */
  .products::-webkit-scrollbar-button {
    display: none;
  }
