h1{ 
    font-size: 5rem;
    margin: 62px 0;
}

.products{
    /* grid */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap:16px;
    height: var(--family-page-height);
    overflow-y:scroll ;
    box-sizing: border-box;
    padding: 10px;
}


