<form class="modal-content" [formGroup]="deviceForm">
    <div class="modal-header">
      <div class="image-container">
        <h2 >
            Añadir dispositivo
        </h2>
      </div>
      <button (click)="close()" class="close-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
      </button>
    </div>


    <fieldset class="form-group">
      <header>
        <label for="name">Nombre y estado<span class="input-mandatory"> *</span></label>
      </header>
      <div class="inputs-container">
        <div class="input-container">
            <input id="name" type="text" formControlName="name" placeholder="Ej: Pizzas" class="form-control" 
            [ngClass]="{'invalid': deviceForm.controls['name'].invalid && deviceForm.controls['name'].touched}" />
            <div *ngIf="deviceForm.controls['name'].hasError('required') && deviceForm.controls['name'].touched" class="error">
              El nombre descriptivo es obligatorio
            </div>
          </div>
        <span (click)="changeStatus()" [ngClass]="getStatusClass(this.deviceForm.value.status)" class="status-text">
          <!-- SVG Icono dinámico según el estado -->
          <ng-container *ngIf="this.deviceForm.value.status === 'Habilitado'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill status-icon" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.904 10.803L4.3 8.2a.717.717 0 1 0-1.014 1.014l2.969 2.97a.717.717 0 0 0 1.014 0l6.18-6.18a.717.717 0 1 0-1.014-1.014L6.904 10.803z"/>
            </svg>
          </ng-container>
          <ng-container *ngIf="this.deviceForm.value.status === 'Deshabilitado'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle-fill status-icon" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </ng-container>
          {{ this.deviceForm.value.status }}
        </span>
        
      </div>
    </fieldset>

    <hr class="divider">
    <fieldset class="form-group">
        <header>
          <label for="printer">Impresora / IP<span class="input-mandatory"> *</span></label>
        </header>
        <div class="inputs-container">
          <div class="input-container">
              <input id="name" type="text" formControlName="printer" placeholder="Ej: 192.323.434.322" class="form-control" 
              [ngClass]="{'invalid': deviceForm.controls['printer'].invalid && deviceForm.controls['printer'].touched}" />
              <div *ngIf="deviceForm.controls['printer'].hasError('required') && deviceForm.controls['printer'].touched" class="error">
                La IP o nombre de la impresora es obligatorio.
              </div>
            </div>
        </div>
      </fieldset>

      <hr class="divider">
    <fieldset class="form-group">
        <header>
          <label for="area">Zona</label>
        </header>
        <div class="inputs-container">
          <div class="input-container">
              <input id="area" type="text" formControlName="area" placeholder="Ej: Barra" class="form-control" />
            </div>
        </div>
      </fieldset>

    <hr class="divider">
      <fieldset class="form-group">
        <header>
          <label for="description">Descripción</label>
        </header>
        <div class="inputs-container">
          <div class="input-container">
            <textarea id="description" formControlName="description" placeholder="Ej: Familia de menus en promoción." class="form-control"></textarea>
          </div>
        </div>
      </fieldset>
  
  <footer class="dialog-actions">
    <button class="delete-button" *ngIf="isEditMode" (click)="onDelete(data.familyId!)">Eliminar</button>
    @if(isEditMode){
      <div class="space-between rigth-buttons">
        <button (click)="close()" class="cancel-button">Cancelar</button>
        <button (click)="save()" class="save-button">
          Guardar
        </button>    
      </div>
    } @else {
      <button (click)="close()" class="cancel-button">Cancelar</button>
      <button (click)="save()" class="save-button">
        Guardar
      </button>
    }
  </footer>
</form>