<div #tableContainer class="table-container">
  
  <div class="search-container">
    <div class="input-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search search-icon" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
      <input (keyup)="applyFilter($event)" placeholder="Buscar">
    </div>
  </div>  

  <table mat-table class="table" [dataSource]="dataSource">

    <!-- Recorre las columnas y utiliza tanto el id como el nombre -->
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col.columnId">
      <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>{{ col.columnName }}</th>

      <td mat-cell class="mat-cell" *matCellDef="let element">
        <span *ngIf="col.columnId === 'status'" 
              [ngStyle]="getStatusStyle(element.status)" 
              class="status-text">
          <!-- SVG Icono dinámico según el estado -->
          <ng-container *ngIf="element.status === 'Habilitado'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill status-icon" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.904 10.803L4.3 8.2a.717.717 0 1 0-1.014 1.014l2.969 2.97a.717.717 0 0 0 1.014 0l6.18-6.18a.717.717 0 1 0-1.014-1.014L6.904 10.803z"/>
            </svg>
          </ng-container>
          <ng-container *ngIf="element.status === 'Deshabilitado'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle-fill status-icon" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </ng-container>
          {{ element[col.columnId] }}
        </span>

        <!-- Manejo de alérgenos -->
        <span *ngIf="col.columnId === 'allergens'">
          <ng-container *ngFor="let allergen of element.allergens" class="allergen-container">
            <img [src]="getAllergenImage(allergen)" alt="{{ allergen }}" class="allergen-icon" />
          </ng-container>
        </span>

        <!-- Si no es la columna 'status', mostrar el contenido normal -->
        <span *ngIf="col.columnId !== 'status' && col.columnId !== 'allergens'">
          {{ element[col.columnId] }}
        </span>
      </td>
    </ng-container>

    <!-- Nueva columna de menú de opciones sin encabezado -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell class="mat-header-cell actions-column" *matHeaderCellDef></th>
      <td mat-cell class="mat-cell" *matCellDef="let element">
        <button class="row-menu" mat-icon-button [matMenuTriggerFor]="menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
          </svg>
        </button>
        <mat-menu #menu="matMenu" xPosition="before" yPosition="above">
          <button mat-menu-item (click)="editElement(element)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
            Editar
          </button>
          <button mat-menu-item (click)="deleteElement(element)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 448 512">
              <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
            </svg>
            Eliminar
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnIds"></tr>
    <tr mat-row *matRowDef="let row; columns: columnIds;"></tr>
  </table>

  <mat-paginator class=mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>


</div>

